<p class="social-links">
    {% if site.social.platforms.twitter %}
    <a href="https://twitter.com/{{ site.social.platforms.twitter }}" target="_blank" rel="noopener external" class="twitter">
      <svg viewBox="0 0 32 32"><use xlink:href="{{ '/assets/icons/social-icons.svg#twitter' | relative_url }}"></use></svg> <span>Twitter</span>
    </a>
    {% endif %}
    {% if site.social.platforms.facebook %}
    <a href="https://www.facebook.com/{{ site.social.platforms.facebook }}" target="_blank" rel="noopener external" class="facebook">
      <svg viewBox="0 0 32 32"><use xlink:href="{{ '/assets/icons/social-icons.svg#facebook' | relative_url }}"></use></svg> <span>Facebook</span>
    </a>
    {% endif %}
    {% if site.social.platforms.instagram %}
    <a href="https://www.instagram.com/{{ site.social.platforms.instagram }}" target="_blank" rel="noopener external" class="instagram">
      <svg viewBox="0 0 32 32"><use xlink:href="{{ '/assets/icons/social-icons.svg#instagram' | relative_url }}"></use></svg> <span>Instagram</span>
    </a>
    {% endif %}
    {% if site.social.platforms.linkedin %}
    <a href="https://www.linkedin.com/in/{{ site.social.platforms.linkedin }}" target="_blank" rel="noopener external" class="linkedin">
      <svg viewBox="0 0 32 32"><use xlink:href="{{ '/assets/icons/social-icons.svg#linkedin' | relative_url }}"></use></svg> <span>LinkedIn</span>
    </a>
    {% endif %}
    {% if site.social.platforms.medium %}
    <a href="https://medium.com/{{ site.social.platforms.medium }}" target="_blank" rel="noopener external" class="medium">
      <svg viewBox="0 0 32 32"><use xlink:href="{{ '/assets/icons/social-icons.svg#medium' | relative_url }}"></use></svg> <span>Medium</span>
    </a>
    {% endif %}
    {% if site.social.platforms.youtube %}
    <a href="https://www.youtube.com/{{ site.social.platforms.youtube }}" target="_blank" rel="noopener external" class="youtube">
      <svg viewBox="0 0 32 32"><use xlink:href="{{ '/assets/icons/social-icons.svg#youtube' | relative_url }}"></use></svg> <span>YouTube</span>
    </a>
    {% endif %}
    {% if site.social.platforms.patreon %}
    <a href="https://www.patreon.com/{{ site.social.platforms.patreon }}" target="_blank" rel="noopener external" class="patreon">
      <svg viewBox="0 0 32 32"><use xlink:href="{{ '/assets/icons/social-icons.svg#patreon' | relative_url }}"></use></svg> <span>Patreon</span>
    </a>
    {% endif %}
    {% if site.rss %}
    <a href="{{ site.rss | relative_url }}" class="rss">
      <svg viewBox="0 0 32 32"><use xlink:href="{{ '/assets/icons/social-icons.svg#rss' | relative_url }}"></use></svg> <span>RSS</span>
    </a>
    {% endif %}
    {% if site.social.platforms.github %}
    <a href="https://github.com/{{ site.social.platforms.github }}" target="_blank" rel="noopener external" class="github">
      <svg viewBox="0 0 32 32"><use xlink:href="{{ '/assets/icons/social-icons.svg#github' | relative_url }}"></use></svg> <span>Github</span>
    </a>
    {% endif %}
</p>
