<p class="social-links">
    {% if site.twitter %}
    <a href="https://twitter.com/{{ site.twitter }}" target="_blank">
        {% include icons/twitter.html %}
    </a>
    {% endif %}
    {% if site.facebook %}
    <a href="https://www.facebook.com/{{ site.facebook }}" target="_blank">
        {% include icons/facebook.html %}
    </a>
    {% endif %}
    {% if site.instagram %}
    <a href="https://www.instagram.com/{{ site.instagram }}" target="_blank">
      {% include icons/instagram.html %}
    </a>
    {% endif %}
    {% if site.linkedin %}
    <a href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank">
      {% include icons/linkedin.html %}
    </a>
    {% endif %}
    {% if site.medium %}
    <a href="https://medium.com/{{ site.medium }}" target="_blank">
      {% include icons/medium.html %}
    </a>
    {% endif %}
    {% if site.youtube %}
    <a href="https://www.youtube.com/{{ site.youtube }}" target="_blank">
      {% include icons/youtube.html %}
    </a>
    {% endif %}
    {% if site.patreon %}
    <a href="https://www.patreon.com/{{ site.patreon }}" target="_blank">
      {% include icons/patreon.html %}
    </a>
    {% endif %}
    {% if site.github %}<!--
    <a href="https://github.com/{{ site.github }}" target="_blank">
        {% include icons/github.html %}
    </a>-->
    {% endif %}
</p>
