// Fonts
$font-primary: "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji";
$font-secondary: "Poly", "Times New Roman", serif;

// Colors
$color-accent: $color-love;
$gray-darkest: $color-black;
$gray-dark: $color-bluegray-800;
$gray: $color-bluegray-500;
$gray-light: $color-bluegray-200;
$gray-lighter: $color-bluegray-50;
$highlight: $color-pink-50;
