---
layout: default
---

<main id="main" class="site-main">
    <article class="post-full inner grt">
        <header class="post-header">
            <p class="breadcrumb about"><a href="/about/">About</a>: {{ page.person }}</p>
            <h1 class="post-title">{{ page.title }}</h1>
        </header><!-- .post-header -->
        {% if page.image %}
        <div class="post-thumbnail"><img src="{{ site.baseurl }}{{ page.image }}" alt="{% if page.image_alt %}{{ page.image_alt }}{% else %}{{ page.title }}{% endif %}" /></div>
        {% endif %}
        <div class="post-content inner">
            {{content}}
        </div>
    </article>
    {% if site.mailchimp_url %}
    {% include newsletter-box.html %}
    {% endif %}
</main><!-- .site-main -->
