---
layout: default
---

<main id="main" class="site-main">
    <article class="post-full inner">
        <header class="post-header">
          {% if page.breadcrumb %}{% case page.breadcrumb %}
            {% when 'principles' %}
            <p class="breadcrumb principles"><a href="/principles/">Love First Principles</a>: {{ page.principle_byline }}</p>
            {% when 'about' %}
            <p class="breadcrumb about"><a href="/about/">About</a>: Faruk Ateş</p>
            {% else %}
            <p class="breadcrumb"><a href="{{ page.breadcrumb.url }}">{{ page.breadcrumb.title }}</a>: {{ page.breadcrumb.addendum }}</p>
          {% endcase %}{% endif %}
            <h1 class="post-title">{{ page.title }}</h1>
        </header><!-- .post-header -->
        {% if page.featured_image %}
        <div class="post-thumbnail"><img src="{{ site.baseurl }}{{ page.featured_image }}" alt="{% if page.featured_image_alt %}{{ page.featured_image_alt }}{% else %}{{ page.title }}{% endif %}" /></div>
        {% endif %}
        <div class="post-content inner">
            {{content}}
        </div>
    </article>
    {% if site.mailchimp_url %}
    {% include newsletter-box.html %}
    {% endif %}
</main><!-- .site-main -->
